.main-widget-container .modal-dialog {
    max-width: 395px;
    background-color: #ffffff;
    padding: 20px 20px;
    box-sizing: border-box;
    border-radius: 16px;
    box-shadow: 0px 1px 12px rgba(3, 3, 3, 0.08);
    transition: none !important;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%) !important;
}

.widget-section {
    max-width: 395px;
}

.widget-container .widget-box .widget-content {
    display: flex;
    align-items: center;
}

.widget-container .widget-box .widget-content .left-content i {
    font-size: 50px;
}

.widget-container .widget-box .widget-content .right-content {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    color: #030303;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 500;
    line-height: 17px;
    text-align: left;
}

.widget-container .widget-box .widget-content .right-content span {
    padding-top: 7px;
    color: #858585;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    display: flex;
}

.widget-container .widget-box .widget-content .right-content span div {
    padding-right: 2px;
}

.widget-container .widget-box {
    max-width: 395px;
    background-color: #ffffff;
    padding: 20px 20px;
    box-sizing: border-box;
    border-radius: 16px;
    box-shadow: 0px 1px 12px rgba(3, 3, 3, 0.08);
    top: 50%;
    margin: 0px auto;
    transform: translateY(-50%) !important;
}

.widget-container .widget-box .accordion-item #collapseOne .accordion-body h5 {
    color: #030303;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 17px;
    margin: 20px 5px 20px 5px;
    text-align: left;

}

.widget-container .accordion-item #collapseOne .accordion-body .form-select {
    margin: 25px 0;
    cursor: pointer;
    border: 0;
    box-sizing: border-box;
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px rgba(3, 3, 3, 0.1); */
    background-color: #ffffff;
    color: #030303;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    outline: none;

}

.widget-container .accordion-item #collapseOne .accordion-body .form-select:focus{
    box-shadow: none !important;
}
.main-widget-container .modal-dialog .modal-header button{
    position: absolute;
    top: 5px;
    right: -3px;
    width:6px;
    height: 6px;
   font-size: 12px;
}
.main-widget-container .modal-dialog .modal-header button:focus{
    box-shadow: none;
}
.bottom-content{
    margin-bottom: 0;
}
.widget-container .widget-box .accordion-item #collapseOne .accordion-body button {
    width: 100%;
    margin: 10px 0;
    border: 0;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(3, 3, 3, 0.1);
    background-color: #3164f4;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

/* subtotal-cart */
.subtotal {
    margin: 10px 0px 20px;

}

.subtotal-cart .accordion-item .coupon-form .code {
    border-radius: 0px;
    border: 1px solid lightgray;
    border-width: 0px 0px 1px 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #030303;
    margin-bottom: 25px;
}


.number input {
    padding: 3px 5px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 12px;
}

.subtotal-cart .accordion-item .coupon-form input {
    margin-bottom: 10px;
    color: #030303;
    font-weight: 400;
    border: '0';
    box-sizing: border-box;
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px rgba(3, 3, 3, 0.1); */
    background-color: #ffffff;
    font-family: 'Roboto';
    font-size: 14px;
}
.subtotal-cart .accordion-item .coupon-form input:focus {
   box-shadow: none;
   border-color: #86b7fe;
}

.subtotal-cart .accordion-item .your-cart .product-table {
    display: flex;
    align-items: center;
}

.subtotal-cart .accordion-item .your-cart .product-table .col {
    font-size: 12px;
}
.subtotal-cart .accordion-item .your-cart .product-table p {
    margin-bottom: 0;
}

.custom-space{
    margin-bottom: 25px !important;
}
.widget-container .widget-box .accordion-item #collapseOne .accordion-body .your-cart .product-table p {
    font-size: 14px;
    font-family: "Manrope";
    font-weight: 400;
}

.subtotal-cart .accordion-item .your-cart .product-table .col-6 p i {
    padding-right: 10px;
}

.subtotal :first-child {
    text-align: left;
}

.subtotal-cart .accordion-item .your-cart .product-table .price {
    text-align: right;
}

.subtotal-cart .accordion-item .your-cart .product-table .bold-price {
    color: #858585;
    font-Size: 16px;
    font-Family: 'Manrope';
    line-height: 20px;
    text-align: right;
}

.subtotal-cart .accordion-item .your-cart .product-table .input-group input {
    border: 0px;
    /* margin-bottom: 10px; */
}

.subtotal-cart .accordion-item .your-cart .subtotal .price {
    color: #000000;
    font-size: 18px;
    font-family: "Manrope";
    font-weight: 800;
    line-height: 23px;
    text-align: right;
}

.col .widget-box .widget-content {
    position: relative;
}

/* .col .expanded-widget .widget-content .fa-xmark {
    position: absolute;
    right: 0;
    top: -10px;
    color: gray;
}

.col .subtotal-cart .widget-content .fa-xmark {
    position: absolute;
    right: 0;
    top: -10px;
    color: gray;
} */

.modal-open-after {
    background: transparent;
}

.widget-iframe .modal-open-after .modal .modal-dialog {
    top: 50%;
    margin: 0px auto;
    transform: translateY(-50%);
}

/* responsive style */
@media screen and (min-height: 600px) {
    .main-widget-container .modal-dialog {
        background-color: #fff;
        border-radius: 16px;
        box-shadow: 0 1px 12px #03030314;
        box-sizing: border-box;
        max-width: 395px;
        padding: 20px;
        margin-top: 10%;
        margin-bottom: 10%;
        transition: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .main-widget-container .modal-dialog {
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

@media only screen and (max-width: 428px) {
    .main-widget-container .modal-dialog {
        margin: 10% 10px;
        top: 0;
        transform: translateY(0%) !important;
    }

    .widget-content {
        flex-direction: column;
        text-align: center;
    }

    .widget-box .accordion-item .widget-content .expand-svg {
        bottom: 50px !important;
    }
    .cart-modal .widget-box .accordion-item #collapseOne .accordion-body h5{
        text-align: center;
    }
}

@media only screen and (max-width: 320px) {
    .widget-content {
        font-size: 11px;
    }

    .widget-container .widget-box .widget-content .right-content {
        font-size: 13px;
        text-align: center;
    }
}