.main-cart-modal .modal-dialog{
    max-width: 395px;
    background-color: #ffffff;
    padding:20px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 16px;
    box-shadow: 0px 1px 12px rgba(3,3,3,0.08);
}
.main-cart-modal .modal-dialog .modal-content{
    border:none;
}
.main-cart-modal .modal-dialog .modal-content .modal-body{
    padding:0;
}
.main-cart-modal .modal-dialog .modal-header{
    border:none;
    padding:0;
}
.main-cart-modal .cart-modal .widget-box .widget-content{
    display: flex;
    align-items: center;
}
.cart-modal .widget-box .widget-content .left-content i{
    font-size: 50px;
}
.cart-modal .widget-box .widget-content .right-content {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    color: #030303;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 500;
    line-height: 17px;
    text-align: left;
}
.cart-modal .widget-box .widget-content .right-content span{
    padding-top: 7px;
    color: #858585;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;    
    display: flex;
}
.cart-modal .widget-box .widget-content .right-content span div{
    padding-right: 2px;
}

/* widget expanded */
.expanded-widget .accordion-item .widget-content{
    position: relative;
}
 .widget-box .accordion-item .widget-content .expand-svg{
    position: absolute;
    right: -5px;
    bottom: 6px;
}
.main-cart-modal .modal-dialog .modal-header button{
    position: absolute;
    right: 5px;
    width:6px;
    height: 6px;
   font-size: 10px;
}
.cart-modal .widget-box .accordion-item #collapseOne .accordion-body .details-sub-div{
    margin:0 10px;
}
/* accordion body */
.cart-modal .widget-box .accordion-item #collapseOne .accordion-body h5{
        color: #030303;
        font-size: 14px;
        font-family: 'Poppins';
        font-weight: 500;
        line-height: 17px;
        margin: 20px 5px 20px 5px;
        text-align: left;

}
.cart-modal .widget-box .accordion-item #collapseOne .accordion-body .progress{
    height: 4px;
    border-radius: 10px;
    overflow: visible;
    background-color: rgba(193, 193, 193, 1);
    margin-left:10px;
}
.cart-modal .widget-box .accordion-item #collapseOne .accordion-body .progress  .progress-bar{position: relative;overflow:visible;background-color:#3164f4}
.cart-modal .widget-box .accordion-item #collapseOne .accordion-body .progress  .progress-bar::before{
    content: "";
    border-radius: 20px;
    background-color: #3164f4;
    width: 15px;
    height: 15px;
    right: 0px;
    position: absolute;
    display: block;
}
.cart-modal .widget-box .accordion-item #collapseOne .accordion-body .custom-progress{
    position: relative;
    margin: 70px 20px 0 0;
}
.cart-modal   .accordion-item #collapseOne .accordion-body .form-select{
    margin: 20px 0;
    cursor: pointer;
    border: 0;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(3,3,3,0.1);
    background-color: #ffffff;
    color: #030303;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    padding:10px;

}


.cart-modal .widget-box .accordion-item #collapseOne .accordion-body .custom-progress .progress-bar .progress-bar-percentage{
    position: absolute;
    top: -30px;
    right: -47px;
    transform: translate(-50%, -50%);
    border: 3px solid #3164f4;
    border-radius: 4px;
    color: #030303;
    font-size: 14px;
    font-family: "Roboto";
    line-height: 16px;
    padding:5px;
}
.cart-modal .expanded-widget .accordion-item #collapseOne .accordion-body .custom-progress .progress-bar-percentage::after{
   content: "";
   position:absolute;
    left: -3px;
    bottom: -11px;
    border-top: none;
    background-color: transparent;
    border-left: 2px solid #3164f4;
    border-right: 2px solid #3164f4;
    border-bottom: 0;
    border-bottom: 10px solid #3164f4;
    border-left: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);
    background: transparent;
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
    transform: rotate(190deg);
}
.cart-modal .widget-box .accordion-item #collapseOne .accordion-body .amount-section .row .col ul li{
    list-style: none;
    width:100%;
    color: #030303;
    font-size: 12px;
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 2;
    text-align: left;
}
.cart-modal .widget-box .accordion-item #collapseOne .accordion-body .amount-section .row .col .price li{
    font-weight: 500;
}
.cart-modal .widget-box .accordion-item #collapseOne .accordion-body .amount-section .row .col .amount-type {
    padding-left:20px;
}
.cart-modal .widget-box .accordion-item #collapseOne .accordion-body button{
    width:100%;
    margin:10px 0;
    border: 0;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(3,3,3,0.1);
    background-color: #3164f4;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    padding:8px;
}
.cart-modal .widget-box .accordion-item #collapseOne .accordion-body p{
    color: #858585;
    font-size: 12px;
    font-family: "Poppins";
    font-weight: 300;
    line-height: 16px;
    margin-top:10px;
    text-align: left;
    }
